.button {
    border-style: none;
    background-color: antiquewhite;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
}

.button:hover {
    text-decoration-line: underline;
    background-color: bisque;
}

.navbar {
    display: flex;
    flex-direction: column;
    grid-area: n;
    margin-top: 10vh;
    margin: 10vh 2vw;
}